.handbid-fatal-error * {
    display: none;
}

.enable-handbid-fatal-error .handbid-fatal-error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgba(233, 77, 112, 1);
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.enable-handbid-fatal-error .handbid-fatal-error * {
    display: block;
}

.powered-by-handbid {
    display: inline-block;
    height: 55px;
    width: 130px;
    background: url('../images/powered-by-handbid.svg') right center no-repeat;
    text-indent: -999em;
    overflow: hidden;
}

.loading-span-button{}
.loading-span-button.active{
    background-image: url("../images/ajax-loader.gif") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: none  !important;
}
.loading-span-button.active em,
.loading-span-button.active span{
    visibility: hidden !important;
}

.edit-profile select{
    text-decoration: none !important;
    border: none;
}

.full-width-image{
    width: 100% !important;
}

.table-receipt-summary th{
    text-align: right;
    font-weight: bold;
}

.table-receipt-summary th.total{
    font-size: 130%;
    text-transform: uppercase;
}

.table-receipt-summary td.receipt-total{
    font-size: 130%;
    color: #c90000;
}
.invoice-title{
    font-size: 17px;
    white-space: inherit;
    overflow: visible;
    text-overflow: initial;
    margin-bottom: 20px;
}

.bidder-info-container .receipt-action-button{
    padding: 10px 5px;
    text-align: center;
}

.bidder-info-container .receipt-action-button span{
    font-size: 13px;
    line-height: 10px;
    color: #fff;
    top: initial;
    left: initial;
    text-align: center;
    display: inline-block;
}
.bidder-info-container .receipt-action-button:hover span{
    color: #9fb94a;
}

.bidder-info-container .receipt-action-button.make-payment-button{
    background-color: #4cb0ce;
    border-color: #4cb0ce;
}
.bidder-info-container .receipt-action-button.make-payment-button:hover{
    background-color: #fff;
}
.bidder-info-container .receipt-action-button.make-payment-button:hover span{
    color: #4cb0ce;
}

.margin-bottom{
    margin-bottom: 15px;
}
.bidder-info-container .slider-content .select-payment-card{
    text-transform: none;
    padding: 9px 10px;
    border-radius: 3px;
}

.bid-price-toggle.button.ghosted-out{
    opacity: 0.2;
}
.message-row{
    margin-bottom: 5px;
}
.message-row .message-date{}
.message-row .message-date span{}
.message-row .message-status{
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.message-row .message-status.message-status-general{
    background-image: url("../images/dashboard/ic_mail.png");
}
.message-row .message-status.message-status-was_winning,
.message-row .message-status.message-status-winning{
    background-image: url("../images/dashboard/ic_winning.png");
}
.message-row .message-status.message-status-was_losing,
.message-row .message-status.message-status-outbid,
.message-row .message-status.message-status-losing{
    background-image: url("../images/dashboard/ic_losing.png");
}
.message-row .message-status.message-status-purchase{
    background-image: url("../images/dashboard/ic_purchased.png");
}

.ticket-row{
    margin-right: -25px;
    margin-left: -25px;
}
.ticket-row h4.ticket-title,
.ticket-row .ticket-quantity,
.ticket-row .ticket-description{
    text-align: left !important;
}
.ticket-row h4.ticket-title{
    color: #45AFCD;
    font-size: 24px;
    margin: 0;
}
.ticket-row .ticket-description{
    color: #6D818B;
    font-size: 15px;
}
.ticket-row .ticket-quantity{
    color: #6D818B;
    font-size: 13px;
}
.ticket-row .ticket-part-container{
    padding: 15px;
}
.ticket-row .ticket-price{
    color: #45AFCD;
    font-size: 26px;
    display: block;
    font-weight: normal;
}

.tickets-modal .bid-price-toggle {
    width: 30px;
    padding: 0 !important;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.tickets-modal .buy-quantity {
    height: 30px;
    line-height: 30px;
}

.no-padding{
    padding: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.btn.btn-default.undefined{
    display: none !important;
}


.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.active-auctions-list-area.loading-messages,
.messages-list-area.loading-messages,
.receipts-list-area.loading-messages{
    background: url("../images/ajax-loader.gif") no-repeat center center !important;
    min-height: 100px !important;
}
.active-auctions-list-area.loading-messages .simple-list,
.messages-list-area.loading-messages .simple-list,
.receipts-list-area.loading-messages .simple-list{
    display: none !important;
}

.bidder-info-container a > span.unpaidInvoicesCountContainer{
    font-size: 14px;
    color: #fff !important;
}

.not-available-in-presale{
    display: none !important;
}

[data-handbid-bid-button]{
    text-decoration: none !important;
}


.notice-connection-title{
    font-size: 17px;
    margin-top: 5px;
}

.notice-connection-switch{
    display: inline-block;
    background-color: #a94442;
    color: #ebccd1;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.notice-connection-tip{
    font-weight: bold;
    text-align: center;
    display: none;
}

.handbid-timer-top-notice:hover,
.handbid-no-connection-notice.notice-collapsed:hover{
    opacity: 0.7 !important;
}

.handbid-timer-top-notice .ui-pnotify-container,
.handbid-no-connection-notice.notice-collapsed .ui-pnotify-container{
    padding: 0;
}

.initial-loading-space{
     background: url("../images/ajax-loader-round.gif") no-repeat center center !important;
 }
.initial-loading-space *{
     visibility: hidden !important;
 }

.handbid-bidding-notice {}
.handbid-bidding-notice .ui-pnotify-closer{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
}
.handbid-bidding-notice .ui-pnotify-title{
    margin: 0;
}
.handbid-notice-image-container{
    padding-left: 0;
}
.handbid-notice-image-container a{
    width: 80px;
}
.handbid-notice-image-container a img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.handbid-notice-text-container{
    padding: 0;
}
.handbid-notice-text-container .notice-text-title{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2px;
}
.tickets-are-sold h4{
    font-weight: bold;
    color: #c73936;
    font-size: 23px;
}
.remaining-inventory{
    margin-top: 15px;
    display: inline-block;
}
[data-is-hidden-item]{
    display: none !important;
}