.handbid-fatal-error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    background: rgba(255,0,0,0.4);
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.powered-by-handbid {
    display: inline-block;
    height: 55px;
    width: 130px;
    background: url('../images/powered-by-handbid.svg') right center no-repeat;
    text-indent: -999em;
    overflow: hidden;
}