@import "variables.less";

.button(@color: rgba(233, 77, 112, 1)) {
    padding: 15px 35px;
    color: @color;
    border: 1px solid @color;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: #fff;
        background: @color;
        cursor: pointer;
    }
}

.solid-button(@color: rgba(233, 77, 112, 1)) {
    .button(@color);
    background: @color;
    color: #fff;
    &:hover {
        background: #fff;
        color: @color;
    }
}

.pink-button {
    .button;
}

.white-button {
    .button(#fff);
}
.white-button:hover {
    color: @pink;
}

.green-button {
    .button(@green);
}

.pink-solid-button {
    .solid-button;
}

.green-solid-button {
    .solid-button(@green);
}

.gray-solid-button {
    .solid-button(@mediumGray);
}

.light-blue-button {
    .button(@lightBlue);
}

.light-blue-solid-button {
    .solid-button(@lightBlue);
}