@import "variables.less";
@import "buttons.less";

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  color: @gray;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 475%; // 76px
  color: @white;
}

body
h2 {
  text-transform: uppercase;
  font-size: 306%; // 49px
  color: @pink;
}

h3 {
  text-transform: uppercase;
  font-size: 220%; // 35px
}

.banner {
  text-align: center;
  h2 {
    font-size: 356%; // 57px
  }
  h1, h2 {
    margin: 0;
  }
  p {
    color: @white;
    font-size: 113%; // 18px
  }
}

.container {
  font-size: 16px;
}

.slider em {
  color: @lightBlue;
  font-size: 122%; // Percentage of h3 to be ~43px
}

a,
a:hover {
  text-decoration: none;
}

h3.no-results {
  margin: 150px;
}

/**
 * Special home styling overrides
 */

.slider-content.open-slider {
  .underlined;
}

.slider-nav {
  text-align: center;
  float: none;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 15px 0;
      text-align: center;
      width: 240px;
      color: @gray;
      border: 1px solid @lightGray;
      //            border-right: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    a:hover,
    .active-slide {
      background: @lightBlue;
      text-decoration: none;
      color: @white;
    }
  }
  li:last-of-type {
    a {
      border: 1px solid @lightGray;
    }
  }
}

.slider-content {
  [data-slider-nav-key] {
    display: none;
  }
  p {
    text-align: center;
    //.fadeOutDown;
  }
  .slider {
    float: none;
  }
  .active-slide {
    display: block;
  }
  .button-container {
    display: block;
    text-align: center;
  }
}

/**
 * Filters
 */
.filter-wrapper {
  margin-left: 0;
  padding-left: 0;
}

.filters {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  line-height: 1.5em;

  h4 {
    text-align: left;
    text-transform: uppercase;
    color: @green;
  }

  .section {
    border-bottom: 1px solid @lightGray;
    padding-bottom: 10px;
    margin-bottom: 18px;

    li.selected {
      list-style-image: url("../images/triangle-right.svg");
    }

    .selected a {
      color: @lightBlue;
    }
  }

  .section:last-of-type {
    border-bottom: none;
  }

  a {
    color: @gray;
  }
}

.item-details,
.proxy-bid-dialog {
  .detail-bar {
    position: relative;
  }

  .images {
    text-align: center;
    max-width: 100%;
    background-color: @lightGray;
    position: relative;

    .image-holder {
      height: 500px;
      width: 100%;
      background-size: contain;
      background: no-repeat center;
    }

    .item-banner {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background: @lightBlue;
      color: @white;
      padding: 10px 0;
    }

    .winning {
      background: @green;
    }

    .losing {
      background: @pink;
    }
  }

  img {
    height: 100%;
  }

  h2.name {
    color: @gray;
    text-transform: none;
    margin-bottom: 10px;
  }

  h3.category {
    margin-top: 0;
    text-transform: none;
    font-size: 160%;
  }

  .horizontal-details {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;

    li {
      border-right: 1px solid @lightGray;
      &:last-of-type {
        border-right: none;
      }
    }

    em {
      color: @lightBlue;
      display: block;
      font-size: 140%;
    }
  }

  .proxy-bid,
  .bid-now,
  .buy-now {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .buy-now {
    margin-top: 25px;
  }

  .bid-controls {
    line-height: 2.5em;
    text-align: center;
    padding-bottom: 40px;

    .bid-amount, .buy-quantity {
      font-size: 300%;
      color: @green;
    }

    .bid-down {
      text-align: right;
    }

    .bid-up {
      text-align: left;
    }

    .bid-up .button,
    .bid-down .button {
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0;
      line-height: 48px;
      font-size: 150%;
      text-align: center;
    }
  }

  .additional {
    padding-top: 20px;
  }

  .slider-nav {
    em {
      color: red;
    }
  }

  .slider-content {
    .comments {
      text-align: center;
    }
  }
}

#ui-datepicker-div {
  margin: 0;
}

.auction-timer-wrapper {
  transition: height 2s;
}

.auction-timer {
  width: 400px;
  margin: 0 auto 20px;
  color: @lightBlue;
  text-align: center;

  .indicator-wrapper {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
  }
  .section {
    border-right: 1px solid @lightBlue;
  }

  .section:last-of-type {
    border: none;
  }

  .amount {
    font-size: 250%;
    line-height: 1em;
  }

  .the-label {
    text-transform: uppercase;
  }

  @backColor: @lightPink;
  @forColor: @pink;

  .progress-radial {
    background-image: linear-gradient(-90deg, @backColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, @backColor 50%, @forColor 50%, @forColor);
    margin: 0 auto;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .progress-radial .overlay {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: @white;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
  }
}

.handbid-growl-container {
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 10;
  width: 350px;
  .handbid-growl {
    .fadeIn;
    .animated;
    width: 100%;
    box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    color: #81929a;
    transition: all 0.5s ease-in-out;
    background: #f0f0f0 url('../images/notice.svg') no-repeat 15px center;
    background-size: 25px;
    padding: 15px 15px 15px 55px;
  }
}

.receipt-iframe {
  width: 100%;
  height: 350px;
}

.handbid-progress {
  background: rgba(0, 0, 0, 0.35);
  display: none;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  background: url('../images/chevron.svg') center center no-repeat;
  margin-top: -38px;
  height: 76px;
  width: 50px;
  background-size: 25px;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  &.prev {
    .rotateDeg(180deg);
    left: 0;
  }
  &.next {
    right: 0;
  }
}

.slider-progress-bar {
  position: relative;
  width: 0;
  clear: both;
  background: @green;
  height: 5px;
}

.shadow-box {
  border: 1px solid #e5e5e5;
  box-shadow: 3px 3px 0 1px #f7f7f7;
  margin-bottom: 25px;
  li {
    border-bottom: 1px solid #d2d2d2;
    list-style-type: none;
    padding: 15px;
    display: inline-block;
    clear: both;
    width: 100%;
  }
  li:last-of-type {
    border-bottom: 0;
  }
}

// Tooltip visibility

.mobile-cvc-tooltip {
  display: none;
}

[data-tooltip-wrapper] {
  display: inline-block;
  float: right;
  position: relative;
  &.simple-tooltip-showing {
    .simple-tooltip-content {
      display: block;
      opacity: 1;
      width: 200px;
      left: -115px;
      box-shadow: 5px 5px 0 1px rgba(0, 0, 0, 0.1);
      margin-top: 15px;
      color: #81929a;
      transition: all 0.5s ease-in-out;
      background-size: 25px;
      padding: 15px;
      background: #f0f0f0;
      top: 25px;
    }
  }
}

.simple-tooltip-content {
  display: none;
  position: absolute;
}

.handbid-refreshing-page {
  .handbid-fatal-error {
    opacity: 0;
  }
}

.page-invoices{
  .bidder-info-load{
    visibility: hidden !important;
  }
}

.receipts-page-container{
  width: 70%;
  margin: 10px auto;
}

.add-credit-card-to-receipt{
  font-size: 13px;
  padding: 12px 4px !important;
  text-align: center !important;
}

.simple-list .receipt h4{
  margin-bottom: 10px;
}

@media print {
  .page-invoices{
    [data-toggle-invoice-more-link],
    .unpaidControls,
    .paidControls,
    .bidder-info-load,
    .mobile-menu,
    .share-receipt-controls,
    .handbid-breadcrumb,
    .global-header,
    .global-footer{
      display:none !important;
    }
    .sticking{
        position: relative !important;
    }
  }
  .receipts-page-container{
    width: 100%;
  }
}

@media only screen
and (min-width: 320px) {

  .receipts-page-container{
    width: 90%;

    .invoice-details-container{
      padding: 2%;
    }

    h3{
      font-size: 1.5em !important;
      margin-top: 0;
    }
  }

}

@media only screen
and (max-width: 500px) {
  .hide-in-mobile{
    display: none;
  }
}

@media only screen
and (min-width: 960px) {
  .receipts-page-container{
    width: 70%;
  }
}