@import "variables.less";

.handbid-modal {
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    text-decoration: none !important;
    font-weight: normal;
    z-index: 10;
  }

  .modal-dialog {
    border: 1px solid #ccc;
    background: #F0F0F0;
  }
  .modal-body {
    padding: 20px;
  }
  .title {
    margin-bottom: 0;
  }
  .btn-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2em;
  }
}

.handbid-modal.handbid-modal-in-page {
  display: block !important;
}