

@media (max-width: 767px) {
  .simple-box-row {
    margin-top: 0;
  }
  .edit-profile input[type="submit"], .simple-form input[type="submit"] {
    margin-left: 0;
  }

  .item-details.item-open {
    margin-top: 20px;
  }

  .row.simple-box-row.auctions {
    clear: both;
    .no-results {
      margin: 100px 20px;
    }
  }

  .handbid-credit-card-footer-form {
    padding: 15px;
    [data-handbid-modal-key=credit-card-form] {
      margin: 0 15px;
    }
  }
  .slider-content {
    .additional.big-content.active-slide {
      padding: 15px;
    }
  }
  body .container .item-details .back-to-previous-container a.back-to-previous {
    display: inline-block;
    margin-top: -25px;
    background-size: 13px;
    padding: 13px 0 13px 22px;
    font-size: 13px;
  }
  .item-details,
  .proxy-bid-dialog {
    h2.name {
      font-size: 24px;
    }
    h3.category {
      text-transform: uppercase;
      font-size: 125%;
      font-weight: 400;
    }
    .horizontal-details{
      padding: 0;
    }
    .bid-controls{
      padding-bottom: 10px;
    }
  }
  .item-details {
    .bid-controls .bid-amount {
      font-size: 275%;
      line-height: 50px;
    }
  }
}

@media (max-width: 350px) {
  .auction-details .controls .register,
  .auction-details .controls .purchase-tickets,
  .org-details .controls .register,
  .org-details .controls .purchase-tickets {
    margin: 0;
  }

  .item-details .row.additional,
  .item-details .slider-content{
    font-size: 90% !important;
  }
}


