

@media (max-width: 767px) {
  .simple-box-row {
    margin-top: 0;
  }
  .edit-profile input[type="submit"], .simple-form input[type="submit"] {
    margin-left: 0;
  }

  .item-details.item-open {
    margin-top: 20px;
  }

  .section-nav {
    margin-top: 30px;
  }

  .row.simple-box-row.auctions {
    clear: both;
    .no-results {
      margin: 100px 20px;
    }
  }

  .handbid-credit-card-footer-form {
    padding: 15px;
    [data-handbid-modal-key=credit-card-form] {
      margin: 0 15px;
    }
  }
  .slider-content {
    .additional.big-content.active-slide {
      padding: 15px;
    }
  }
  body .container .item-details .back-to-previous-container a.back-to-previous {
    display: inline-block;
    margin-top: -25px;
    background-size: 13px;
    padding: 13px 0 13px 22px;
    font-size: 13px;
  }
  body .breadcrumb {
    margin: 0;
  }
  .item-details h2.name, .proxy-bid-dialog h2.name{
    font-size: 35px;
  }
  .item-details .horizontal-details, .proxy-bid-dialog .horizontal-details{
    padding: 0;
  }
  .item-details .bid-controls, .proxy-bid-dialog .bid-controls{
    padding-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .auction-details .controls .register,
  .auction-details .controls .purchase-tickets,
  .org-details .controls .register,
  .org-details .controls .purchase-tickets {
    margin: 0;
  }

  .item-details h2.name, .proxy-bid-dialog h2.name {
    font-size: 27px;
  }

  .item-details .buttons-and-titles *{
    font-size: 100% !important;
  }

  .item-details .buttons-and-titles h2.name,
  .item-details .buttons-and-titles .bid-amount{
    font-size: 140% !important;
  }

  .item-details .row.additional,
  .item-details .slider-content{
    font-size: 90% !important;
  }

  .global-footer *{
    font-size: 95% !important;
  }



}


