@lightBlue: rgba(76, 176, 206, 1);
@darkBlue:  rgba(22, 114, 179, 1);
@gray:      rgba(110, 130, 138, 1);

@lightGray: #e7e7e7;
@mediumGray: #b6c0c5;
@dropShadow: rgba(217, 217, 217, 1);
@lightDropShadow: rgba(217, 217, 217, 0.2);

// highlight
@orange: rgba(247, 142, 30, 1);
@green:  rgba(159, 185, 74, 1);
@pink:   rgba(233, 77, 112, 1);


@lightPink:   rgba(233, 77, 112, 0.2);


.rotateDeg (@angle: 20deg) {
    -moz-transform: rotate(@angle);
    -webkit-transform: rotate(@angle);
    -o-transform: rotate(@angle);
    -ms-transform: rotate(@angle);
    transform: rotate(@angle);
}

